@charset "utf-8";
/* 폰트설정 */
body {
  /* scrollbar-face-color: #becee9;
  scrollbar-highlight-color: #becee9;
  scrollbar-3dlight-color: #becee9;
  scrollbar-shadow-color: #becee9;
  scrollbar-darkshadow-color: #becee9;
  scrollbar-track-color: #dfe4ea;
  scrollbar-arrow-color: #ffffff; */

  font-family: "NotoSansKR", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.ui-widget {
  font-family: "NotoSansKR", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}
/* 폰트설정 */





/* accordion */
.ui-accordion-content {
  padding: 0 !important;
}

/* dialog */
.ui-dialog {
  padding: 0;
  border: 5px solid #c5d8eb;
}
.ui-dialog-titlebar {
  border-top: 1px solid #6785a7;
  border-left: 1px solid #6785a7;
  border-right: 1px solid #6785a7;
  height: 20px;
}
.ui-dialog-title {
  position: relative;
  top: 4px;
}
.ui-dialog-content {
  overflow: hidden !important;
  padding: 0 0 0 0 !important;
  border-bottom: 1px solid #6785a7 !important;
  border-left: 1px solid #6785a7 !important;
  border-right: 1px solid #6785a7 !important;
}



/* ui-tabs-nav */
.ui-tabs-nav {
  background: #f5f5f5;
  border-width: 0px 0px 1px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-top: 0px;
  padding-left: 1px;
  padding-right: 1px;
}
.ui-tabs .ui-tabs-panel {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  overflow: auto;
}



/* nsf-widget-header */
.nsf-widget-header {
  /* padding: 0.4em 0.5em 0.4em 0.5em; */
  /* height: 15px; */
  padding: 0;
}
.nsf-widget-header label {
  background-image: url(../images/icon/bullet_w.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 12px;
}
.nsf-widget-header table {
  width: 100%;
  height: 100%;
}
.nsf-widget-header table .nsf-right {
  text-align: right;
}
.nsf-widget-header button {
  border: none;
  padding: 0;
  margin: 0;
  background: url(../images/icon/btn_arrow.gif) no-repeat;
  width: 20px;
  height: 20px;
}
.nsf-widget-header button:hover {
  background: url(../images/icon/btn_arrow_over.gif) no-repeat;
}

/* nsf-widget-content */
.nsf-widget-content {
  background-color: #e2e5ef !important;
  border-width: 1px;
  border-style: none solid solid solid;
  border-color: #878ca0;
}

/* nsf-panel */
.nsf-panel .head,
.nsf-panel .body {
  padding: 0.5em 0.8em 0.5em 0.8em;
}


/* nsf-border */
.nsf-border-top {
  border-top: 1px solid #878ca0;
}
.nsf-border-left {
  border-left: 1px solid #878ca0;
}
.nsf-border-right {
  border-right: 1px solid #878ca0;
}
.nsf-border-bottom {
  border-bottom: 1px solid #878ca0;
}









/* 기타 */
.nsf-mini-vertical {
  width: 58px;
  height: 7px;
  background-image: url(../images/icon/btn_Gmini.png);
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
  border: none;
}
.nsf-mini-vertical:hover {
  background-image: url(../images/icon/btn_mini.png);
}
.nsf-mini-horizontal {
  width: 5px;
  background-color: transparent;
}

.nsf-space-vertical {
  height: 10px;
}
.nsf-space-horizontal {
  width: 10px;
}

.nsf-title {
  float: left;
  background: url(../images/icon/bullet02.gif) no-repeat 3px 1px;
  width: 98%;
  font-weight: bold;
  font-size: 12px;
  color: #666;
  padding-left: 18px;
  margin-bottom: 7px;
}


/*.nsf-status-ess { background-color: #F2EBE6; #fbec88; }*/
.nsf-status-lck {
  background-color: #e4e4f1;
}
.nsf-status-ess {
  background-color: #fff2f0;
}
INPUT[type="text"].nsf-status-lck,
SELECT.nsf-status-lck,
TEXTAREA.nsf-status-lck {
  background-color: #e4e4f1;
}
.nsf-status-hid {
  display: none !important;
}

.nsf-radio {
  position: relative;
  top: 3px;
  border: o;
  border-style: none none none none;
  height: 14px;
}
.nsf-file {
  border: 1px solid #9c9491;
  height: 20px;
}

.ui-nsf-widget-titlebar {
  padding: 0.3em 0.2em 0.2em 0.3em;
}
.ui-nsf-widget-content {
  padding: 0.3em 0em 0.3em 0em;
}
.ui-nsf-widget-bottombar {
  height: 25px;
}

.nsf-left {
  text-align: left;
}
.nsf-right {
  text-align: right;
}
.nsf-center {
  text-align: center;
}

.nsf-number {
  text-align: right;
  ime-mode: disabled;
}

.nsf-list {
  padding: 2;
  background-color: #f6f7f4;
  border-color: #cccfe3;
  border-style: none none none none;
  border-width: 1px;
}
.nsf-list ul {
  list-style-type: none;
  margin: 1;
  padding: 2;
}
.nsf-list li {
  margin: 3px 3px 3px 3px;
  padding: 1px;
  width: 100%;
  vertical-align: middle;
  border-color: #cccfe3;
  border-style: solid solid solid solid;
  border-width: 1px;
  overflow: hidden;
  height: 20px;
  cursor: pointer;
}
.nsf-list li label {
  display: inline-block;
  width: 100px;
}
.nsf-list li span {
  font-weight: normal;
  border-color: #cccfe3;
  border-style: none none none none;
  border-width: 1px;
  display: inline-block;
  width: 100px;
  vertical-align: top;
  position: relative;
  top: 3px;
}
.nsf-list-select {
  background-color: #e5eaf2;
}

.nsf-list-head {
  background-color: #7cacc9;
  display: inline-block;
  width: 100%;
  height: 25px;
}
.nsf-list-head label {
  color: white;
  font-weight: bold;
  padding: 5px 0px 0px 1px;
  display: inline-block;
  width: 100px;
}

.nsf-sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nsf-td {
  vertical-align: text-top;
}

.nsf-form-fix {
  overflow-x: hidden;
  overflow-y: auto;
}

.nsf-form-btnbar {
  padding: 2px 2px 2px 2px;
  background-color: #f6f7f4;
  border-color: #cccfe3;
  border-style: none none solid none;
  border-width: 1px;
  height: 25px;
}
.nsf-form-btnbar button {
  background-position: left center;
  background-color: transparent;
  cursor: pointer;
}
.nsf-form-btnbar input {
  position: relative;
  top: 3px;
}

.nsf-mini-bottom {
  width: 50px;
  height: 5px;
  background-image: url(../images/icon/mini-bottom.gif);
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
  border: none;
}
.nsf-mini-left {
  height: 35px;
  background-image: url(../images/icon/mini-left.gif);
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
}


.nsf-accordion-content {
  margin: 0;
  padding: 0;
}

.nsf-item {
  margin: 5px;
  padding: 5px;
  background-color: white;
  border-color: #cccfe3;
  border-style: solid solid solid solid;
  border-width: 1px;
  height: 1.5em;
  text-align: left;
  overflow: hidden;
}
.nsf-item-select {
  background: #e5eaf2;
}

.nsf-load {
  display: inline-block;
  background: url(images/icon/load.gif) no-repeat left;
  width: 20px;
  height: 13px;
}