@charset "utf-8";

/* 개인별급여내역조정 */
.css-form .ui-widget-header label {
  position: relative;
  top: 3px;
  left: 3px;
}
.css-form-search .ui-widget-header label {
  position: relative;
  top: 3px;
  left: 3px;
}
#divOrg,
#divView {
  display: none;
  height: 0px;
}
.nsf-number {
  text-align: right;
}



/* 국세청PDF자료등록 */
.css-form .ui-widget-header label {
  position: relative;
  top: 3px;
  left: 3px;
}
.css-form-search .ui-widget-header label {
  position: relative;
  top: 3px;
  left: 3px;
}
#divOrg,
#divView {
  display: none;
  height: 0px;
}
.nsf-form-li-2xx {
  width: 400px !important;
}



/* 부가세신고서작성 */
.css-form {
  display: none;
}
.css-form .ui-widget-header label {
  position: relative;
  top: 3px;
  left: 3px;
}
.css-form-search .ui-widget-header label {
  position: relative;
  top: 3px;
  left: 3px;
}
#divOrg,
#divView {
  display: none;
  height: 0px;
}
.test {
  text-align: center;
}



/* 연말정산기초자료등록및계산 */
.css-form {
  display: none;
}
.css-form .ui-widget-header label {
  position: relative;
  top: 3px;
  left: 3px;
}
.css-form-search .ui-widget-header label {
  position: relative;
  top: 3px;
  left: 3px;
}
rg,
#divView {
  display: none;
  height: 0px;
}
#nsftab_bas li {
  width: 400px;
}
#nsftab2_lis .nsf-form table {
  border-collapse: collapse;
  border: 1px black solid;
}
#nsftab2_lis .nsf-form table td {
  border-collapse: collapse;
  border: 1px black solid;
}
#nsftab2_lis .nsf-form table td li {
  width: 100px;
}
#nsftab_tax .nsf-form table {
  border-collapse: collapse;
  border: 1px black solid;
  table-layout: fixed;
}
#nsftab_tax .nsf-form table th {
  border-collapse: collapse;
  border: 1px black solid;
}
#nsftab_tax .nsf-form table td {
  border-collapse: collapse;
  border: 1px black solid;
}
#nsftab_tax .nsf-form table tr {
  height: 22px;
}
#nsftab_tax .nsf-form table td li {
  width: 100px;
}
#nsftab_fam ul li span {
  width: 190px;
}
#nsftab_amtN ul li span {
  width: 190px;
}
#nsftab_amtS ul li span {
  width: 190px;
}
#nsftab_amtA ul li span {
  width: 190px;
}
#nsftab_amtD ul li span {
  width: 190px;
}



/* 인사자료등록 */
.css-form .ui-widget-header label {
  position: relative;
  top: 3px;
  left: 3px;
}
.css-form-search .ui-widget-header label {
  position: relative;
  top: 3px;
  left: 3px;
}
#divOrg, #divView {
  display: none;
  height: 0px;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
  font-size: 1em;
  font-family: TAHOMA, Dotum Arial, Helvetica, sans-serif;
}
span {
  font-size: 9pt;
  font-style: normal;
  font-family: TAHOMA, Dotum Arial, Helvetica, sans-serif;
}