@charset "utf-8";

/* nsf-panel-top */
.nsf-panel-top {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--color-prm);
}
.nsf-panel-top .header-logo {
  flex-shrink: 0;
}
.nsf-panel-top .header-info {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
}
.nsf-panel-top .header-info .name_cb {
  color: var(--color-white);
  font-weight: 700;
}
.nsf-panel-top [class^=btn-] {
  width: 16px;
  height: 16px;
  /* background-color: var(--color-2nd); */
  background-image: var(--ico-test2);
  background-repeat: no-repeat;
}
.nsf-panel-top [class^=btn-] .hide {
  display: none;
}


/* nsf-panel-content */
.nsf-panel-content {
  padding: 0;
  border: 2px solid var(--color-prm);
}