@charset "utf-8";

#divOpenMenu {
  position: relative;
  top: 3px;
  background-color: #e6e6e6;
}
#divOpenMenu .ui-widget-header {
  height: 29px;
}
#divOpenMenu .ui-widget-header h3 {
  position: relative;
  top: -7px;
  left: 3px;
  width: 160px;
}
/* 	#divOpenMenu .ui-widget-header h3 { width:185px; height:25px; background:url(./nsf/css/images/portal/left_h3.gif) no-repeat; padding:10px 0 0 15px; color:#fff; position:relative; } */
#divOpenMenu .ui-widget-header .nsf-x-tool-collapse-west {
  position: relative;
  top: 7px;
  right: 3px;
}
#divOpenMenu #logo {
  position: relative;
  font-size: 11pt;
  top: 5px;
  left: 2px;
}

#divMenuTabFix,
#divMenuTabTree {
  width: 253px;
  overflow: auto;
}
#divMenuTabFix,
#divMenuTabFind {
  width: 253px;
  overflow: auto;
}
#divMenuTabFix,
#divMenuTabMyMenu {
  width: 253px;
  overflow: auto;
}

#divCloseMenu {
  position: relative;
  top: 3px;
  display: none;
  width: 22px;
}
#divCloseMenu .nsf-x-tool-collapse-east {
  position: relative;
  top: 7px;
  right: 3px;
}

#divContent {
}

#divBottom {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 20px;
}
#divBottom center {
  vertical-align: middle;
}
#divBottom label {
  color: #e6e6e6;
}

#divMenuTab {
  padding: 0px;
  border: 1px solid #d9d9d9;
  background-color: #f7f7f7;
}

#divMenuTab .ui-tabs-nav li {
  margin: 0.5px 0.1em 0 0;
}
#divMenuTab .ui-tabs-nav li a {
  font-size: 9pt !important;
}

#divContent {
}
#divContentTab {
  border: none;
}
/*
	#divContentTab .ui-tabs-nav { border : 1px solid #dedede }
	*/
#divContentTab .ui-tabs-nav {
  border: 1px solid #868ca1;
  background-color: #e2e5ef;
}
#divContentTab li .ui-icon-close {
  float: left;
  margin: 0.4em 0.2em 0 0;
  cursor: pointer;
}

.css-content {
}
.css-menu-content {
  background-color: white !important;
}

#divContent .ui-tabs .ui-tabs-panel {
  padding-top: 10px;
}

li {
  list-style: none;
}