@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
::after,
::before {
  background-repeat: no-repeat;
  box-sizing: border-box;
  flex-shrink: 0;
}
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
  tab-size: 4;
  line-height: 1.5;
  /* android */
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:where(html, body) {
  height: 100%;
}
:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}
:where(ol, ul) {
  list-style: none;
}
:where(a) {
  text-decoration: none;
}
:where(button) {
  background: none;
  border: none;
  padding: 0;
  border: none;
  box-shadow: none;
  overflow: visible;
  white-space: nowrap;
  cursor: pointer;
}
:where([type="button"], [type="reset"], [type="submit"], button) {
  appearance: button;
}
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
  border-spacing: 0;
}
:where(caption, legend) {
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  color: transparent;
}
:where(iframe, fieldset) {
  border: none;
  border-style: none;
}

/* BODY {
  scrollbar-face-color: #becee9;
  scrollbar-highlight-color: #becee9;
  scrollbar-3dlight-color: #becee9;
  scrollbar-shadow-color: #becee9;
  scrollbar-darkshadow-color: #becee9;
  scrollbar-track-color: #dfe4ea;
  scrollbar-arrow-color: #ffffff;

  color: #6f6f6f;
  font-family: TAHOMA, Dotum Arial, Helvetica, sans-serif;
  font-size: 10px;

  margin: 0px 0px 0px 0px;

  padding: 0;
  border: 0;

  overflow-x: hidden;
  overflow-y: auto;
} */