/* BODY { overflow: hidden; margin: 0; }

IMG { vertical-align: middle; border: none; }

A { white-space: nowrap; }
P { padding: 0; margin: 0; }

.nsf-panel-top { height: 45px; background: url(./images/panel/top_bg.png) repeat-x; padding: 8px 0 0 10px; margin-bottom: 10px; }
.nsf-panel-top img { margin-right: 10px; }

light color
.nsf-panel-top p { float: right; font-weight: bold; color: #888; background: url(./images/panel/ico_people.png) no-repeat left 1px; padding-left: 18px; margin-top: 15px; }
.nsf-panel-top .name_cb { color: #1f599a; }

.nsf-panel-top p { float: right; font-weight: bold; color: #fff; background: url(./images/panel/ico_people.png) no-repeat left 1px; padding-left: 18px; margin-top: 15px; }
.nsf-panel-top .name_cb { color: #82d7fa; }

.nsf-panel-top .name_cb:before { content: "[" }
.nsf-panel-top .name_cb:after { content: "]" }

.nsf-panel-content { padding: 0 10px 0 10px; } */

BODY { overflow: hidden; margin: 0; }

IMG { vertical-align: middle; border: none; }

A { white-space: nowrap; }
P { padding: 0; margin: 0; }

.nsf-panel-top { height: 45px; background: url(./images/panel/top_bg.png) repeat-x; padding: 8px 0 0 10px; margin-bottom: 10px; }
.nsf-panel-top img { margin-right: 10px; }
/*
light color
.nsf-panel-top p { float: right; font-weight: bold; color: #888; background: url(http://101.79.81.71/wisen.kepid/nsf/css/images/panel/ico_people.png) no-repeat left 1px; padding-left: 18px; margin-top: 15px; }
.nsf-panel-top .name_cb { color: #1f599a; }
*/
.nsf-panel-top p { float: right; font-weight: bold; color: #404040; background: url(./images/panel/ico_people.png) no-repeat left 1px; padding-left: 21px; margin-top: 15px; }
.nsf-panel-top .name_cb { color: #2f76ec; }

.nsf-panel-top .name_cb:before { content: "[" }
.nsf-panel-top .name_cb:after { content: "]" }

.nsf-panel-content { padding: 0 10px 0 10px; }
