@charset "utf-8";

:root {
  --color-prm : #536a97;
  --color-2nd : #658de1;
  --color-3rd : #e0eafe;
  --color-4th : #d14242;
  --color-5th : #22031d;

  --color-black : #000;
  --color-white : #fff;

  --color-ltgray : #f0f0f0;
  --color-gray : #d6d6d6;
  --color-dark : #181818;
  --color-dkgray : #858585;
}

/* icons */
.mats-icon-menu::before{
  content: "\e9b0";
}
.mats-icon-search::before{
  content: "\e8b6";
}
.mats-icon-star::before{
  content: "\e885";
  font-variation-settings: 
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}
.mats-icon-view::before{
  content: "\e1b2";
}
.mats-icon-prev::before {
  content: "\e5e0";
}
.mats-icon-next::before {
  content: "\e5e1";
}
.mats-icon-leftArrow::before {
  content: "\eac3";
}
.mats-icon-rightArrow::before {
  content: "\eac9";
}
.mats-icon-close::before {
  content: "\e5cd";
}
.mats-icon-help::before {
  content: "\eb8b";
}
.mats-icon-login::before {
  content: "\ea77";
}
.mats-icon-logout::before {
  content: "\e5c8";
}
.mats-icon-user::before {
  content: "\e5f3";
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.mats-icon-add::before {
  content: "\e145";
}
.mats-icon-arrDown::before {
  content: "\e313";
}
.mats-icon-arrRight::before {
  content: "\e315";
}
.mats-icon-arrUp::before {
  content: "\e316";
}
.mats-icon-arrLeft::before {
  content: "\e314";
}

/* menu icon */
.nsf-tree ul li span::before {
  padding: 0 6px 0 0;
}
.nsf-tree .tree-toggle>span::before {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  content: "\e313\e2c7";
  color: var(--color-2nd);
}
.nsf-tree .tree-toggle.expanded>span::before {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  content: "\e315\e2c8";
  color: var(--color-2nd);
}
.nsf-tree>button::before {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  content: "\e885";
  color: var(--color-2nd);
}
.nsf-tree .tree-page>span::before {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  content: "\e873";
  color: var(--color-2nd);
}




.hide {
  display: none !important;
}

/* nsf-wrap */
.nsf-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.nsf-main {
  flex: 1;
  display: flex;
  padding: 0;
  overflow: hidden;
}
.nsf-main .nsf-gnb {
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-ltgray);
  padding-top: 20px;
  /* transition: all 0.5s ease; */
}
.nsf-main .nsf-gnb .nsf-gnb-title{
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 34px;
  background-color: var(--color-ltgray);
  color: var(--color-dark);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: -2px;
  line-height: 33px;
  padding: 0 6px;
  border-bottom: 1px solid var(--color-gray);
}
.nsf-main .nsf-gnb .nsf-gnb-toggle {
  position: absolute;
  top: 28px;
  right: -15px;
  width: 16px;
  height: 16px;
  display: block;
  z-index: 1;
  background-color: var(--color-prm);
  border-radius: 3px;
  color: var(--color-white);
  display: flex;
  align-items: center;
}
.nsf-main .nsf-gnb .nsf-gnb-toggle i{
  font-size: 14px;
  align-items: center;
}
.nsf-main .nsf-gnb.less {
  width: 10px;
  background-color: var(--color-ltgray);
}
.nsf-main .nsf-gnb.less .nsf-gnb-toggle {
  right: -15px;
}
.nsf-main .nsf-gnb.less .nsf-gnb-tab-wrap {
  display: none;

  /* left: -200px; */
}
.nsf-main .nsf-gnb .nsf-gnb-tab-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid var(--color-gray);
  /* position: relative;
  left: 0;
  transition: all 0.5s ease; */
}
.nsf-main .nsf-gnb .nsf-gnb-tabs {
  height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-ltgray);
  color: var(--color-dkgray);
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-gray);
  border-top: 1px solid var(--color-gray);
  gap: 0;
}
.nsf-main .nsf-gnb .nsf-gnb-tabs button {
  width: calc(250px / 3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}
.nsf-main .nsf-gnb .nsf-gnb-tabs button i{
  font-size: 20px;
  display: flex;
  align-items: center;
}
.nsf-main .nsf-gnb .nsf-gnb-tabs button.active{
  background-color: var(--color-prm);
  color: var(--color-white);
  pointer-events: none;
}
.nsf-main .nsf-gnb .nsf-gnb-tabs button:hover{
  background-color: var(--color-3rd);
}

.nsf-main .nsf-gnb .nsf-gnb-panel {
  flex: 1;
  overflow-y: auto;
  padding: 10px 10px;
  background-color: var(--color-white);
}
.nsf-main .nsf-gnb .nsf-gnb-panel .search-menu-header {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 4px;
}
.nsf-main .nsf-gnb .nsf-gnb-panel .search-log,
.nsf-main .nsf-gnb .nsf-gnb-panel .search-result-nav,
.nsf-main .nsf-gnb .nsf-gnb-panel .favorit-list {
  color: var(--color-2nd);
  padding: 2px 0;
}
.nsf-main .nsf-gnb .nsf-gnb-panel .favorit-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
.nsf-main .nsf-gnb .nsf-gnb-panel .favorit-list span {
  white-space: per-wrap;
  width: 90%;
}
.nsf-main .nsf-gnb .nsf-gnb-panel .search-menu-body div:first-child,
.nsf-main .nsf-gnb .nsf-gnb-panel .favorite-body div:first-child {
  margin-top: 10px;
}
.nsf-main .nsf-gnb .nsf-gnb-panel .favorite-body .del-favorite {
  background-color: var(--color-gray);
  border-radius: 3px;
  width: 16px;
  height: 16px;
}
.nsf-main .nsf-gnb .nsf-gnb-panel .favorite-body .del-favorite::before{
  display: flex;
  align-items: center;
  margin-left: 2px;
  color: var(--color-white);
  font-size: 12px;
  font-weight: bold;
}
.nsf-main .nsf-gnb .nsf-gnb-panel input {
  width: 85%;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid var(--color-gray);
  border-radius: 3px;
  padding-left: 4px;
}
.nsf-main .nsf-gnb .nsf-gnb-panel input:focus {
  box-sizing: border-box;
  outline: none;
  background-color: var(--color-3rd);
  padding-left: 4px;
}
.nsf-main .nsf-gnb .nsf-gnb-panel .favorite-header>button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  height: 25px;
  border-radius: 3px;
  background-color: var(--color-prm);
  color: var(--color-white);
}
.nsf-main .nsf-gnb .nsf-gnb-panel .search-menu-header button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  background-color: var(--color-prm);
}
.nsf-main .nsf-gnb .nsf-gnb-panel .search-menu-header i {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 18px;
}
.nsf-main .nsf-gnb .nsf-gnb-panel .favorite-header i {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 14px;
  font-weight: 700;
}
.nsf-main .nsf-gnb .nsf-gnb-panel .search-menu-header i::before,
.nsf-main .nsf-gnb .nsf-gnb-panel .favorite-header i::before {
  color: var(--color-white);
  padding: 2px;
}

.nsf-main .nsf-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 240px);
  background-color: var(--color-ltgray);
}
.nsf-main .nsf-main-tab-contents {
  flex: 1;
  overflow-y: auto;
  margin: 0 20px 20px 20px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
}
.nsf-main .nsf-main-tab-contents .nsf-tab-panel {
  height: 100%;
  overflow: hidden;
  display: none;
  padding: 10px;
}

/* nsf-header */
.nsf-header {
  height: 52px;
  display: flex;
  align-items: center;
  background-color: var(--color-prm);
  padding: 0 20px;
}
.nsf-header h1.logo {
  width: 90px;
  align-items: center;
}
.nsf-header .hta {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
}
.nsf-header .hta .hta-user{
  display: flex;
  align-items: center;
  gap: 4px;
}
.nsf-header .hta .hta-user img{
  width: 22px;
  height: 22px;
  margin-right: 4px;
}
.nsf-header .hta button {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  width: 22px;
  height: 22px;
  border-radius: 50px;
}
.nsf-header .hta button i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-prm);
  font-weight: 700;
  font-size: 16px;
  width: 22px;
  height: 22px;
  border-radius: 50px;
}

/* nsf-tree */
.nsf-tree {
  padding: 0 10px;
}

.nsf-tree .folded {
  display: none;
}
.nsf-tree>button {
  display: flex;
  align-items: center;
  gap: 2px;
  line-height: 20px;
  font-weight: 700;
  color: var(--color-2nd);
  width: 100%;
  padding: 4px 0;
}
.nsf-tree ul li span{
  display: flex;
  align-items: center;
  /* gap: 4px; */
  white-space: per-wrap;
  padding: 4px 0;
  line-height: 20px;
}
.nsf-tree>button:not(:active):hover,
.nsf-tree ul li span:not(:active):hover {
  background-color: var(--color-3rd);
  cursor: pointer;
}
.nsf-tree ul li span.active{
  font-weight: 700;
  color: var(--color-4th);
  background-color: var(--color-ltgray);
  pointer-events: none;
}

.nsf-tree .tree-toggle span{
  font-weight: 700;
}
.nsf-tree .tree-page span{
  font-weight: 400;
}

.nsf-tree .depth-2 span{
  padding-left: 20px;
}
.nsf-tree .depth-3 span{
  padding-left: 40px;
}
.nsf-tree .depth-4 span{
  padding-left: 60px;
}


/* .nsf-tree ul li:hover{
  font-weight: 700;
  background-color: var(--color-3rd);
} */

/* .nsf-tree ul li{
  display: none;
} */
/* .nsf-tree ul li span {
  display: block;
  width: 100%;
}
.nsf-tree ul li span:hover{
  color: red;
  background-color: #eee;
  cursor: pointer;
} */

/* nav */
/* 
.nsf-tree .depth-1 span{
  font-weight: 700;
}
.nsf-tree .depth-2 span{
  padding-left: 10px;
}
.nsf-tree .depth-3 span{
  padding-left: 20px;
  font-weight: 400;
}
.nsf-tree .depth-4 span{
  padding-left: 30px;
}
.nsf-tree .active {
  font-weight: bold !important;
  color: red;
} */



/* nsf-main-tabs */
.nsf-main .nsf-main-tabs {
  border: 1px solid var(--color-gray);
  border-bottom: none;
  display: flex;
  align-content: space-between;
  align-items: center;
  margin: 20px 20px 0 20px;
  padding: 0;
  line-height: 32px;
  background-color: var(--color-white);
}
.nsf-main .nsf-main-tabs .nsf-tablist {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  width: calc(100% - 104px);
  /* flex: 1; */
  overflow-y: hidden;
  overflow-x: hidden;
}
.nsf-main .nsf-main-tabs .nsf-tablist > li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-dkgray);
  background-color: var(--color-ltgray);
  padding: 0 10px;
  border-right: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.nsf-main .nsf-main-tabs .nsf-tablist > li.active {
  color: var(--color-dark);
  font-weight: bold;
  background-color: var(--color-prm);
  color: var(--color-white);
}

.nsf-main .nsf-main-tabs .nsf-tablist > li:not(.active):hover {
  color: var(--color-dkgray);
  background-color: var(--color-3rd);
  cursor: pointer;
}
.nsf-main .nsf-main-tabs .nsf-tabctrl {
  width: 103px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.nsf-main .nsf-main-tabs .nsf-tabctrl button{
  width: 34px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  border-left: 1px solid var(--color-gray);
  color: var(--color-dkgray);
}
.nsf-main .nsf-main-tabs .nsf-tabctrl button:not(:last-child) i{
  /* font-size: 16px; */
  /* padding-left: 5px; */
}
.nsf-main .nsf-main-tab-contents .nsf-tab-panel.active {
  display: block;
}