@charset "utf-8";

:root {
  --color-prm : #536a97;
  --color-2nd : #658de1;
  --color-3rd : #e0eafe;
  --color-4th : #d14242;
  --color-5th : #22031d;

  --color-black : #000;
  --color-white : #fff;

  --color-ltgray : #f0f0f0;
  --color-gray : #d6d6d6;
  --color-dark : #181818;
  --color-dkgray : #858585;
}

/* icons */
.mats-icon-menu::before{
  content: "\e1bd";
}
.mats-icon-search::before{
  content: "\e8b6";
}
.mats-icon-star::before{
  content: "\e885";
  font-variation-settings: 
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}
.mats-icon-view::before{
  content: "\e1b2";
}
.mats-icon-prev::before {
  content: "\e5e0";
}
.mats-icon-next::before {
  content: "\e5e1";
}
.mats-icon-close::before {
  content: "\e5cd";
}


.hide {
  display: none !important;
}

/* nsf-wrap */
.nsf-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.nsf-main {
  flex: 1;
  display: flex;
  padding: 0;
  overflow: hidden;
}
.nsf-main .nsf-gnb {
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* transition: all 0.5s ease; */
}
.nsf-main .nsf-gnb .nsf-gnb-title{
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 33px;
  background-color: var(--color-ltgray);
  color: var(--color-dark);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: -2px;
  line-height: 33px;
  padding: 0 6px;
  border-bottom: 1px solid var(--color-gray);
}
.nsf-main .nsf-gnb .nsf-gnb-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  display: block;
  z-index: 1;
}
.nsf-main .nsf-gnb.less {
  width: 0;
}
.nsf-main .nsf-gnb.less .nsf-gnb-toggle {
  right: -24px;
}
.nsf-main .nsf-gnb.less .nsf-gnb-tab-wrap {
  display: none;
  /* left: -200px; */
}
.nsf-main .nsf-gnb .nsf-gnb-tab-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid var(--color-gray);
  /* position: relative;
  left: 0;
  transition: all 0.5s ease; */
}
.nsf-main .nsf-gnb .nsf-gnb-tabs {
  height: 30px;
  display: flex;
  align-items: center;
  background-color: var(--color-ltgray);
  color: var(--color-dkgray);
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-gray);
}
.nsf-main .nsf-gnb .nsf-gnb-tabs button{
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nsf-main .nsf-gnb .nsf-gnb-tabs button.active{
  background-color: var(--color-prm);
  color: var(--color-white);
  pointer-events: none;
}
.nsf-main .nsf-gnb .nsf-gnb-tabs button:hover{
  background-color: var(--color-3rd);
}

.nsf-main .nsf-gnb .nsf-gnb-panel {
  flex: 1;
  overflow-y: auto;
  padding: 10px 10px;
}
.nsf-main .nsf-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 240px);
  background-color: var(--color-ltgray);
}
.nsf-main .nsf-main-tab-contents {
  flex: 1;
  overflow-y: auto;
  margin: 0 20px 20px 20px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
}
.nsf-main .nsf-main-tab-contents .nsf-tab-panel {
  height: 100%;
  overflow: hidden;
  display: none;
}

/* nsf-header */
.nsf-header {
  height: 52px;
  display: flex;
  align-items: center;
  background-color: var(--color-prm);
  padding: 0 20px;
}
.nsf-header h1.logo {
  background-image: url(./images/login/wisen_logo.png);
  background-size: 80%;
  width: 100px;
  height: 80%;
  margin-top: 6px;
}
.nsf-header .hta {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
}

/* nsf-tree */
.nsf-tree {
  padding: 0 10px;
}
.nsf-tree .folded {
  display: none;
}

.nsf-tree ul li span{
  line-height: 24px;
}
.nsf-tree ul li span::before {
  display: none;
}
.nsf-tree ul li span:hover {
  background-color: var(--color-3rd);
  cursor: pointer;
}

.nsf-tree .tree-toggle {
  font-weight: 700;
}

.nsf-tree .depth-2 span{
  padding-left: 10px;
}
.nsf-tree .depth-3 span{
  padding-left: 20px;
}
.nsf-tree .depth-4 span{
  padding-left: 30px;
}

.nsf-tree .tree-page span{
  font-weight: 400;
}
.nsf-tree .active{
  font-weight: 700;
  color: var(--color-4th);
}
/* .nsf-tree ul li:hover{
  font-weight: 700;
  background-color: var(--color-3rd);
} */

/* .nsf-tree ul li{
  display: none;
} */
/* .nsf-tree ul li span {
  display: block;
  width: 100%;
}
.nsf-tree ul li span:hover{
  color: red;
  background-color: #eee;
  cursor: pointer;
} */

/* nav */
/* 
.nsf-tree .depth-1 span{
  font-weight: 700;
}
.nsf-tree .depth-2 span{
  padding-left: 10px;
}
.nsf-tree .depth-3 span{
  padding-left: 20px;
  font-weight: 400;
}
.nsf-tree .depth-4 span{
  padding-left: 30px;
}
.nsf-tree .active {
  font-weight: bold !important;
  color: red;
} */



/* nsf-main-tabs */
.nsf-main .nsf-main-tabs {
  border: 1px solid var(--color-gray);
  border-bottom: none;
  display: flex;
  align-content: space-between;
  align-items: center;
  margin: 20px 20px 0 20px;
  padding: 0;
  line-height: 32px;
  background-color: var(--color-white);
}
.nsf-main .nsf-main-tabs .nsf-tablist {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  width: calc(100% - 90px);
  /* flex: 1; */
  overflow-y: hidden;
  overflow-x: hidden;
}
.nsf-main .nsf-main-tabs .nsf-tablist > li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-dkgray);
  background-color: var(--color-ltgray);
  padding: 0 10px;
  border-right: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.nsf-main .nsf-main-tabs .nsf-tablist > li.active {
  color: var(--color-dark);
  font-weight: bold;
  background-color: var(--color-prm);
  color: var(--color-white);
}

.nsf-main .nsf-main-tabs .nsf-tablist > li:not(.active):hover {
  color: var(--color-dkgray);
  background-color: var(--color-3rd);
  cursor: pointer;
}
.nsf-main .nsf-main-tabs .nsf-tabctrl {
  width: 90px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.nsf-main .nsf-main-tabs .nsf-tabctrl button{
  width: 30px;
  display: flex;
  align-items: center;
}
.nsf-main .nsf-main-tab-contents .nsf-tab-panel.active {
  display: block;
}