@charset "utf-8";

BODY, DIV, TABLE, TR, TD, UL, LI, SPAN, LABEL, INPUT, SELECT, BUTTON {
    font-family: '맑은고딕', 'Malgun Gothic', TAHOMA, Arial, Helvetica, sans-serif;
}

.nst_new_main{
    background-color: #f0f0f0;
}

body.erp-contents{
    min-width: 1270px;
    overflow-x: auto;
}

/* 컨텐츠 영역 css 변경*/

/* 헤더 변경*/
.nsf-widget-header{
    padding: 0.4em 0.5em 0.4em 0.5em ;
    height: 27px ;
}
.ui-widget-header {
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    background: #fff;
    color: #181818;
    font-weight: bold;
    font-size: 12px;
}
.nsf-widget-header label {
    background-image: url(./images/icon/ic_tit.png) ;
    background-position: 10px center ;
    background-repeat: no-repeat ;
    padding-left: 30px ;
}

/*  토글 버튼*/
.nsf-widget-header button { 
    background:url(./images/icon/btn_arrow.png) no-repeat ; 
    width:18px ; 
    height:18px ;  
}
.nsf-widget-header button:hover { 
    background:url(./images/icon/btn_arrow_over.png) no-repeat ; 
}

/* top 레벨 디자인 */
.nsf-widget-content { 
    background-color: #fff ;
    border: none ; 
}
.nsf-panel .head{ padding: 10px;}
.nsf-panel .body { padding: 0;}

.nsf-form-search {
    background-color: #ffffff;   
}
.nsf-form-search ul {
    border: 1px solid #d6d6d6;
    display: table;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    min-width: 1270px;
    overflow-x: auto;
}
.nsf-form-search li {
    display: table-cell;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    width: auto;
    height: 29px;
    float: none;
    border: none;
}
.nsf-form-search li span{
    background-color: #f3f3f3 ;
    display: inline-block ;
    padding: 5px 4px 3px 8px;
    height: 21px ;
    width: 100px;
    color: #181818;
    font-weight: 700;
}
.nsf-form-search li span.left{
    text-align: left !important;
}
.nsf-form-search li span.center{
    text-align: center !important;
}

.nsf-form-search li span.th150{
    width: 150px !important;
}
.nsf-form-search li span.th180{
    width: 180px !important;
}
.nsf-form-search li span.th200{
    width: 200px !important;
}
.nsf-form-search li span.th230{
    width: 230px !important;
}


.nsf-form-search ul + ul{
    margin-top: -1px;
}
.nsf-form-search ul.per25 li{
    width: 25% ;
}
.nsf-form-search ul.per33 li{
    width: 33.3333% ;
}
.nsf-form-search ul.per50 li{
    width: 50% ;
}

.nsf-border-top {
    border-top: 1px solid #536a97 ;
}
.nsf-mini-vertical {
    height: 18px ;
    margin-top: -1px ;
    border: 0 none ;
}
.w10{width: 10px;}
.va_top{vertical-align: top;}

/**/
.css-form .ui-widget-header{
    border: 0 !important;
    color: #181818;
    font-weight: bold;
    font-size: 12px;
    height: 27px;
}
.css-form .ui-widget-header label {
    background-image: url(./images/icon/ic_tit.png);
    background-position: 2px center;
    background-repeat: no-repeat;
    padding-left: 22px;
    height: 27px;
}


/*그리드 레벨*/
.ui-widget-content {
    border: 1px solid #d9d9d9 ;
    background: #fff;
    color: #585858 ;
}
.nsf-form {
    overflow: hidden;
    padding: 0 ;
    color: #f5f5f5;
}
.border{
    border: 1px solid #d6d6d6;
}
.nsf-form ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nsf-form ul li {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 ;
    padding: 0 ;
    width: 25% ;
    height: 29px ;
    border-bottom: 1px solid #d9d9d9 ;
}
.nsf-form ul li.first {
    border-top: 1px solid #d9d9d9 ;
}

.nsf-form ul li.bb_none{
    border-bottom: 0 !important ;
}

.nsf-form ul li span {
    display: inline-block;
    color: #181818 ;
    padding-left: 18px;
    font-weight: 700;
    border: 0px solid #bfcfda;
    height: 29px ;
    width: 100px;
    text-align: right;
    background-color: #f3f3f3 ;
    padding: 5px 2px 3px 8px;
}

.nsf-form ul li span.left{
    text-align: left !important;
}
.nsf-form ul li span.center{
    text-align: center !important;
}

.nsf-form ul.per25 li {
    width: 25%;
}
.nsf-form ul.per33 li {
    width: 33.3333%;
}
.nsf-form ul.per50 li {
    width: 50%;
}
.nsf-form ul.per100 li {
    width: 100%;
}

ul.tab100 li {
    width: 100%;
}
ul.tab100 li span{
    width: 140px !important;
}

ul.tab200 li {
    width: 100%;
}
ul.tab200 li span{
    width: 280px !important;
}

.nsf-form-li-25 {
    width: 25% !important;
}
.nsf-form-li-33 {
    width: 33.3% !important;
}
.nsf-form-li-50 {
    width: 50% !important;
}
.nsf-form-li-100 {
    width: 100% !important;
}

.nsf-form-li-2x{
    width: 50% !important;
}
.nsf-form-li-2x-33 {
    width: 66% !important;
}
.nsf-form-li-2x-50 {
    width: 50% !important;
}
.nsf-form-li-2x-100 {
    width: 100% !important;
}

.nsf-form-item-150 {
    width: 150px !important;
}
.nsf-form-item-180 {
    width: 180px !important;
}
.nsf-form-item-200 {
    width: 200px !important;
}
.nsf-form-item-230 {
    width: 230px !important;
}
.nsf-form-item-250 {
    width: 250px !important;
}
.nsf-form-item-2xx {
    width: 350px !important;
}

/* 버튼 에어리어 */
.nsf-btnbar {
    padding: 4px 4px 2px 4px;
    background: #ffffff;
    border: 0;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    height: 25px;
    color: #181818;
}
.nsf-btnbar.onbottom {
    border-bottom: 1px solid #d9d9d9;
}
.nsf-btnbar.notop{
    border-top:0;
}
.nsf-btnbar button {
    color: #181818;
}

.nsf-btnbar-a { background: url(./images/icon/btn.png) no-repeat 100% top; }
.nsf-btnbar-a-label { 
    background: url(./images/icon/btn.png) no-repeat left top;
}

.nsf-btnbar button {
    background-position: 2px 3px;
}
.nsf-btnbar a label {
    padding: 0;
}
.nsf-btnbar table .nsf-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.nsf-btn-refresh { background-image: url(./images/icon/modify.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-search { background-image: url(./images/icon/search.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-add { background-image: url(./images/icon/add.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-modify { background-image: url(./images/icon/modify.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-delete { background-image: url(./images/icon/delete.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-save { background-image: url(./images/icon/save.png); background-repeat: no-repeat; padding-left: 20px; }

.nsf-btn-process { background-image: url(./images/icon/save.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-hide { background-image: url(./images/icon/close02.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-file { background-image: url(./images/icon/save.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-excel { background-image: url(./images/icon/excel.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-print { background-image: url(./images/icon/print.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-send { background-image: url(./images/icon/send.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-gsend { background-image: url(./images/icon/gsend.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-regist { background-image: url(./images/icon/regist.png); background-repeat: no-repeat; padding-left: 20px; }

.nsf-btn-allok { background-image: url(./images/icon/ico_allok.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-cal { background-image: url(./images/icon/ico_cal.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-copy { background-image: url(./images/icon/ico_copy.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-detail { background-image: url(./images/icon/ico_detail.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-paste { background-image: url(./images/icon/ico_paste.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-pop { background-image: url(./images/icon/ico_pop.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-print2 { background-image: url(./images/icon/ico_print.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-up { background-image: url(./images/icon/ico_up.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-down { background-image: url(./images/icon/ico_down.png); background-repeat: no-repeat; padding-left: 20px; }
.nsf-btn-confirm {background-image: url(./images/icon/confirm.png);background-repeat: no-repeat;padding-left: 20px;}
.nsf-btn-close {background-image: url(./images/icon/close02.png);background-repeat: no-repeat;padding-left: 20px;}
.nsf-btn-setting {background-image: url(./images/icon/set.png);background-repeat: no-repeat;padding-left: 20px;}
.nsf-btn-count{ 
    background: #fff url(./images/icon/count.png) top left no-repeat;
    background-position: 2px 4px; 
    padding: 4px 5px;
    padding-left: 18px;
    border: 1px solid #d9d9d9;
}
.nsf-btn-count:hover{ 
    background: #e2ecff url(./images/icon/count.png) top left no-repeat;
    background-position: 2px 4px; 
    padding: 4px 5px;
    padding-left: 18px;
    border: 1px solid #d9d9d9;
}
.nsf-btn-register{ 
    background: #fff url(./images/icon/regist.png) top left no-repeat;
    background-position: 2px 4px; 
    padding: 4px 5px;
    padding-left: 18px;
    border: 1px solid #d9d9d9;
}
.nsf-btn-register:hover{ 
    background: #e2ecff url(./images/icon/regist.png) top left no-repeat;
    background-position: 2px 4px; 
    padding: 4px 5px;
    padding-left: 18px;
    border: 1px solid #d9d9d9;
}


/*인풋*/
/* INPUT {
    border: 1px solid #ccc !important;
    height: 16px;
} */

/*셀렉트*/
select {
    border: 1px solid #ccc !important;
    height: 20px;
}
select:focus {
    border: 1px solid #aaa !important;
    border-radius: 0 none !important;
}
select option{
    border: 0 !important;
    border-radius: 0 none !important;
}




.nsf-btn-popup {
    background: url(./images/icon/btn_glass.png) no-repeat;
    width: 18px;
    height: 18px;
    border: none;
}
.nsf-btn-popup:hover {
    background: url(./images/icon/btn_glass_over.png) no-repeat;
}

/* 캘런더 */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d9d9d9;
    background: #F9F9F9;
    font-weight: bold;
    color: #585858;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #cccccc;
    background: #dbe7ff;
    color: #0552e6;
}

/* 타이틀 */
.nsf-title {
    float: none;
    background: none;
    display: inline-block;
    width: 98%;
    font-weight: bold;
    font-size: 12px;
    color: #393939;
    padding-left: 16px;
    margin-bottom: 0;
    height: 25px;
    padding-top: 18px;
}
/* 그리드 */
/* #grid .nsf-btnbar{
    border-top: none;
} */

.nsf-file {
    border: 1px solid #ccc;
    height: 20px;
    color: #585858;
    background: #f3f3f3;
}


/*tab*/
.ui-tabs {
    padding: 0;
    padding-top: 5px;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    border-bottom: 1px solid #d9d9d9 !important;
    position: relative;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
    border: 0;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover a{
    background: #e2ecff;
    color: #4e7dd7;  
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
    color: #888888;
}
.ui-tabs .ui-tabs-nav li a
.ui-tabs .ui-tabs-nav li a{
    color: #888888;
    font-weight: 600;
    padding: 5px 8px;
}



.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    margin-bottom: 0;
    padding-bottom: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a{
    color: #4e7dd7;
    border-top: 1px solid #4e7dd7;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #fff;
    background: #fff;
    position: relative;
    bottom: -1px;
}

/* 컬러 */
.inline{display: inline-block;}
u.point{
    display: inline-block;
    color: #4e7dd7;
    line-height: 1.8;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 600;
    font-size: 11px;
}

input[type=file] {
    width: 393px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    height: 20px;
    /* border: 1px solid #555; */
    font-size: 12px;
}
/* table */
.new_table{
    border: 0;
}
.new_table tr th{
    background: #f3f3f3;
    padding: 2px 5px;
    border: 1px solid #d9d9d9;
}
.new_table tr th.total{
    background: #e3e3e3;
    padding: 2px 5px;
    border: 1px solid #d9d9d9;
}

.new_table tr td{
    padding: 2px 5px;
    border: 1px solid #d9d9d9;
}
.new_table tr td.empty{
    background: #f3f3f3;
    text-align: center;
    text-align: right;
    padding-right: 10px;
}
.new_table tr td.empty span{
    color: #181818;
    font-weight: 600;
}


.new_table tr th span{
    color: #181818;
}


.ui-tabs .ui-tabs-panel {
    padding: 10px;
}

.new_table INPUT {
    border: 1px solid #cccccc;
    height: 16px;
    padding-right: 5px;
}

/* sweetalert2 */
div:where(.swal2-icon){
    background-color: transparent;
    border: 0.3em solid transparent;
}
div:where(.swal2-icon) .swal2-icon-content {
    align-items: baseline;
    margin-top: -0.05em;
}

div:where(.swal2-icon).swal2-success {
    border-color: #4e7dd7;
    color: #4e7dd7;
}
div:where(.swal2-icon).swal2-error {
    border-color: #d14242;
    color: #d14242;
}
div:where(.swal2-icon).swal2-warning {
    border-color: #e5cb00;
    color: #e5cb00;
}
div:where(.swal2-icon).swal2-info {
    border-color: #4e7dd7;
    color: #4e7dd7;
}
div:where(.swal2-icon).swal2-question {
    border-color: #4e7dd7;
    color: #4e7dd7;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm,
div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
    box-shadow: none;
    padding: 0.5em 3em 0.625em;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus, 
div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel:focus {
    box-shadow: none;
}

div:where(.swal2-icon).swal2-success .swal2-success-ring {
    border: 0.25em solid rgba(78, 125, 215, 0.6) !important;
}
div:where(.swal2-icon).swal2-success [class^=swal2-success-line]{
    background-color: #4e7dd7 !important;
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line] {
    background-color: #d14242;
}

/* 팝업디자인 */
.ui-dialog-title {
    top: 1px;
}